.product-styled {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product-background {
    background-image: url("../../assets/product_background.png");
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    width: 100%;
    height: 100%;
    flex: auto;
    top: 0;
}

.product-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.product-description-container {
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 100vh;
    align-content: center;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 300px;
    margin-left: 5%;
    margin-right: 5%;
}

.product-description {
    gap: 1px;
}

.product-images {
    width: 90%;
    max-width: 500px;
    padding-top: 150px;
    z-index: 0;
    position: relative;
}

.product-price-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100vh;
    align-content: center;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 300px;
    gap: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.add-to-cart-button {
    background: #1C1C1C;
    border: none;
    color: #D9D9D9;
    font-family: 'Amiri', serif;
    font-weight: 700;
    height: 30px;
    cursor: pointer;
}

.select-size {
    font-family: 'Amiri', serif;
    background: transparent;
    height: 30px;
    border: #1C1C1C 1px solid;
    cursor: pointer;
}