.navbar-blur-background {
    backdrop-filter: blur(20px);
    width: 100vw;
    height: 100vh;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
}

.navbar-mobile-styled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 30px 0 30px;
    width: 100vw;
    z-index: 30;
    backdrop-filter: blur(20px);
}

.hamburger {
    width: 50px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    cursor: pointer;
}

.burger {
    height: 2px;
    width: 20px;
    border-radius: 10px;
    background-color: #D9D9D9;
    transform-origin: 1px;
    transition: all 0.3s linear;
}

.x-button-container {
    display: none;
    width: 50px;
    height: 15px;
    flex-flow: column nowrap;
    flex-direction: column;
    justify-content: center;
}

.x-button {
    color: #D9D9D9;
    width: 25px;
    position: relative;
    cursor: pointer;
}

.x-button::before,
.x-button::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1.5px;
    background-color: #D9D9D9;
}

.x-button::before {
    transform: rotate(45deg);
}

.x-button::after {
    transform: rotate(-45deg);
}

.navbar-logo {
    width: 75px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    margin-top: -10px;
}

.cart {
    color: #D9D9D9;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    width: 50px;
}

.navbar-mobile-items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.navbar-mobile-item {
    font-size: 20px;
    cursor: pointer;
    color: #D9D9D9;
}

.navbar-mobile-subitem {
    display: none;
    margin-top: -30px;
    margin-left: 20px;
    cursor: pointer;
    font-size: 14px;
    color: #D9D9D9;
}