.navbar-switch {
    z-index: 1;
    position: fixed;

    .navbar-styled {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px;
        width: 100vw;

        @media only screen and (max-width: 800px) {
            display: none;
        }
    }

    .navbar-mobile {
        display: none;

        @media only screen and (max-width: 800px) {
            display: flex;
        }
    }
}

.nav-item {
    color: #1C1C1C;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;

    a:visited {
        color: #1C1C1C;
    }

    @media only screen and (max-width: 768px) {
        font-size: 18px;
    }
}

.nav-left {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: flex-start;
    width: 40%;

    @media only screen and (max-width: 768px) {
        gap: 25px;
    }
}

.nav-right {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: flex-end;
    width: 40%;

    @media only screen and (max-width: 768px) {
        gap: 25px;
    }
}

.navbar-logo {
    width: 100px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}