.landing-styled {
    background-image: url("../../assets/landing_background.png");
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    flex: auto;
}

.landing-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}